* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v212_2 {
  width: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  overflow: hidden;
}
.v212_4 {
  width: 100%;
  color: rgba(2,84,146,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v212_5 {
  width: 100%;
  color: rgba(188,156,34,1);
  font-family: MonteCarlo;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v212_6 {
  width: 100%;
  font-family: Gowun Batang;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.gold {
  width: 100%;
  color: rgba(188,156,34,1);
  font-family: Gowun Batang;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.ordinance{
  width: 659px;
  color: rgba(2,84,146,1);
  font-family: Alex Brush;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}